<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Download Lingua Player</h2>
                <p>Lingua Player is available for android! You can download from multiple markets for free</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/details?id=ir.habibkazemi.linguaplayer&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img src="/img/google-play-badge.svg" alt="Get it on Google Play"></a>
                    <a class="badge-link" href="https://cafebazaar.ir/app/ir.habibkazemi.linguaplayer/?l=en"><img src="https://s.cafebazaar.ir/2/images/badge-g-fullsize.png" style="height:80px" alt="Get it on Cafebazaar"></a>
                    <a class="badge-link" href="http://myket.ir/app/ir.habibkazemi.linguaplayer/?lang=en"><img src="https://myket.ir/logo/button/Button-B-E256.png" style="height:60px" alt="Get it on Myket"></a>
                </div>
            </div>
        </div>
    </div>
</section>
