<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="https://lh3.googleusercontent.com/ER56vhDy0LzeOuhET-xfrLqs9oYEAx2_6wUbYVUF5MB8kdZCQMbnnlCOpd4Y1YA6T7o=h900" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Dictionary 
                            </div>
                            <div class="project-name">
                                Online and offline dictionary
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="https://lh3.googleusercontent.com/2gVBGJ2Ni-2xAM_-_YsJptEOPNTykgrKxT3jzHp1-aHAm-WPShqBnJzbpJjftFxzey4=h900" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Subtitle controller
                            </div>
                            <div class="project-name">
                                previous and next subtitle caption
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="https://lh3.googleusercontent.com/eqZh5zk1w5ULxverrSrmQe9kkeVPM7mhvhzQq5QLTVDVr0ZSgwFYk3l-PTniqz3L5CMr=h900" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pop-up display
                            </div>
                            <div class="project-name">
                                Show video in popup mode
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="https://lh3.googleusercontent.com/7VjiG-R6ibKyq8LalbBqx_FXonusL0yNtuMeiUniT2uW5FDNsEzGPuYHEhqG6tPrmA=h900" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Player advance options
                            </div>
                            <div class="project-name">
                                Advanced options and tools
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="https://lh3.googleusercontent.com/_ifu7uD6vy8urM0XhfSFk_Z05eGc__HdX2qqWkwwGY8M_6ipJMAh7UXctLnjEc93_Ls=h900" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Subtitle sync
                            </div>
                            <div class="project-name">
                                Sync subtile with a new method
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="https://lh3.googleusercontent.com/DGEcry-nX6h2tjT4mMIF-Mkartnp04YlS91RhXJv5yDI-7RIiLjCYDLQd8Smez_ie6o=h900" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Playback speed
                            </div>
                            <div class="project-name">
                                Change speed of playback
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>
