
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>VLC Media Player features +  more</h2>
                        <p class="text-muted">Check out what you can do with Lingua Player</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup galaxy_tab4 landscape white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="https://lh3.googleusercontent.com/ER56vhDy0LzeOuhET-xfrLqs9oYEAx2_6wUbYVUF5MB8kdZCQMbnnlCOpd4Y1YA6T7o=h900" class="img-responsive" alt=""> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-video-camera text-primary"></i>
                                    <h3>Based on VLC For Android</h3>
                                    <p class="text-muted">All vlc player features and plays any format</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-language text-primary"></i>
                                    <h3>Translate</h3>
                                    <p class="text-muted">Online and offline subtitle translation</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-money text-primary"></i>
                                    <h3>Free</h3>
                                    <p class="text-muted">Lingua Player is free!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Open Source</h3>
                                    <p class="text-muted">Licensed under the GPL-2.0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
